<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改车运')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-transport-edit" th:object="${carTransport}">
            <input name="id" th:field="*{id}" type="hidden">
            <input name="id" th:field="*{transportType}" type="hidden">
<!--            <div class="form-group" id="carType">-->
<!--                <label class="col-sm-3 control-label">车辆：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <select name="carId" class="form-control" th:field="*{carId}"  width="50" >-->
<!--                        <option th:each="slagyard : ${slagyards}" th:text="${slagyard.title}" th:value="${slagyard.id}"></option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">项目渣场：</label>
                <div class="col-sm-8">
                    <select name="projectSlagyardId" class="form-control" width="50" >
                        <option th:each="p : ${list}" th:text="${p.projectName+'—到—'+p.slagyardName+''}" th:value="${p.id}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">运输车数：</label>
                <div class="col-sm-8">
                    <input name="transportNum" th:field="*{transportNum}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/transport";
        $("#form-transport-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-transport-edit').serialize());
            }
        }
    </script>
</body>
</html>