<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dregs.project.system.slagyard.mapper.SlagyardMapper">
    
    <resultMap type="Slagyard" id="SlagyardResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="title"    column="title"    />
    </resultMap>

    <sql id="selectSlagyardVo">
        select id, create_time, update_time, title from t_slagyard
    </sql>

    <select id="selectSlagyardList" parameterType="Slagyard" resultMap="SlagyardResult">
        <include refid="selectSlagyardVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
        </where>
    </select>
    
    <select id="selectSlagyardById" parameterType="Long" resultMap="SlagyardResult">
        <include refid="selectSlagyardVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSlagyard" parameterType="Slagyard" useGeneratedKeys="true" keyProperty="id">
        insert into t_slagyard
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="title != null">title,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="title != null">#{title},</if>
         </trim>
    </insert>

    <update id="updateSlagyard" parameterType="Slagyard">
        update t_slagyard
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="title != null">title = #{title},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSlagyardById" parameterType="Long">
        delete from t_slagyard where id = #{id}
    </delete>

    <delete id="deleteSlagyardByIds" parameterType="String">
        delete from t_slagyard where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>