<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dregs.project.system.project.mapper.TProjectMapper">
    
    <resultMap type="TProject" id="TProjectResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="name"    column="name"    />
        <result property="pid"    column="pid"    />
    </resultMap>

    <sql id="selectTProjectVo">
        select id, create_time, update_time, name, pid from t_project
    </sql>

    <select id="selectTProjectList" parameterType="TProject" resultType="TProject">
        select t1.id, t1.create_time, t1.update_time, t1.name,IFNULL(t2.name,'无') as paName  from t_project as t1
        LEFT JOIN t_project as t2 on t1.pid = t2.id
        <where>
            <if test="id != null  and id != ''"> and t1.id = #{id} </if>
            <if test="name != null  and name != ''"> and t1.name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectTProjectById" parameterType="Long" resultMap="TProjectResult">
        <include refid="selectTProjectVo"/>
        where id = #{id}
    </select>

    <select id="selectProjectByPayList" parameterType="TProject" resultType="TProject">
        select * from t_project tp  where EXISTS(select t.id from t_project_pay t where t.relation_id = tp.id and t.pay_type = 3)
    </select>

    <select id="selectProjectObjByPayList" parameterType="TProject" resultType="TProject">
        select * from t_project tp  where EXISTS(select t.id from t_project_pay t where t.pay_obj_id = tp.id)
    </select>

    <select id="selectStaCarByProjectId" parameterType="Long" resultType="com.dregs.project.system.project.domain.StaCarProject">

        SELECT
            p.name as projectName,
            s.title as slaName,
            t.project_id as projectId,
            t.car_id as carId,
            c.car_num as carNum,
            SUM( t.transport_num ) AS transportNum,
            ps.push_car_maoney as pushCarMoney,
            ps.push_car_maoney * SUM( t.transport_num ) as totalMoney
        FROM
            t_car_transport AS t,
            t_project_slagyard AS ps,
            t_car AS c,
            t_project as p,
            t_slagyard as s
        WHERE
            t.project_slagyard_id = ps.id
            and p.id = t.project_id
            and s.id = t.slagyard_id
            AND t.transport_type = 1
            AND t.car_id = c.id
            <if test="projectId != null and projectId != ''">
                and t.project_id = #{projectId}
            </if>
            <if test="carId != null and carId != ''">
                and t.car_id = #{carId}
            </if>
            GROUP BY
            t.project_slagyard_id,t.car_id

    </select>


    <select id="selectPayCarListByProjectId" parameterType="Long" resultType="com.dregs.project.system.project.domain.StaCarProject">

        SELECT
            pp.pay_obj_id, pp.relation_id as carId,c.car_num as carNum, SUM(pp.money) as payMoney
        FROM
            t_project_pay as pp,t_car as c
        WHERE pp.type = 2 AND pp.pay_type = 1 and c.id = pp.relation_id
            <if test="projectId != null and projectId != ''">
                and pp.pay_obj_id = #{projectId}
            </if>
            <if test="carId != null and carId != ''">
                and pp.relation_id = #{carId}
            </if>
            GROUP BY pp.pay_obj_id, pp.relation_id

    </select>

    <select id="selectStaProjectList" parameterType="StaProject" resultType="com.dregs.project.system.project.domain.StaProject">
        SELECT p.id as projectId, p.name ,sum(money) as pullMoney,sum(pushNum) as pushTotal ,sum(carNum) as carTotal ,sum(slaNum) as slaTotal
                , sum(money1) as pullTotalMoney,sum(money2) as pushCarTotalMoney,sum(money3) as pushSlaTotalMoney
        FROM (SELECT
                  t.project_slagyard_id,
                  t.transport_num,
                  t.car_id,
                  t.project_id,
                  t.slagyard_id,
                  t.transport_type,
                  ps.pull_money,
                  ps.push_car_maoney,
                  ps.push_slagyard_maoney,
                  CASE t.transport_type
                      WHEN 0 THEN (ps.pull_money * t.transport_num)
                      WHEN 1 THEN -(ps.push_car_maoney * t.transport_num)
                      WHEN 2 THEN -(ps.push_slagyard_maoney * t.transport_num)
                      END 'money',
                  CASE t.transport_type
                      WHEN 0 THEN (ps.pull_money * t.transport_num)
                      ELSE 0
                      END 'money1',

                  CASE t.transport_type
                      WHEN 1 THEN (ps.push_car_maoney * t.transport_num)
                      ELSE 0
                      END 'money2',

                  CASE t.transport_type
                      WHEN 2 THEN (ps.push_slagyard_maoney * t.transport_num)
                      ELSE 0
                      END 'money3',
                  CASE t.transport_type
                      WHEN 0 THEN t.transport_num
                      ELSE 0
                      END 'pushNum',

                  CASE t.transport_type
                      WHEN 1 THEN t.transport_num
                      ELSE 0
                      END 'carNum',

                  CASE t.transport_type
                      WHEN 2 THEN t.transport_num
                      ELSE 0
                      END 'slaNum'
              FROM
                  t_car_transport as t,t_project_slagyard as ps WHERE t.project_slagyard_id = ps.id
                    <if test="projectId != null and projectId != ''"><!-- 开始时间检索 -->
                        and t.project_id = #{projectId}
                    </if>
                    <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                        and date_format(t.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
                    </if>
                    <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                        and date_format(t.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
                    </if>
             ) as result
                 LEFT JOIN t_project as p ON p.id = result.project_id
        GROUP BY result.project_id
    </select>
    <insert id="insertTProject" parameterType="TProject" useGeneratedKeys="true" keyProperty="id">
        insert into t_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="name != null">name,</if>
            <if test="pid != null">pid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="name != null">#{name},</if>
            <if test="pid != null">#{pid},</if>
         </trim>
    </insert>

    <update id="updateTProject" parameterType="TProject">
        update t_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="name != null">name = #{name},</if>
            <if test="pid != null">pid = #{pid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTProjectById" parameterType="Long">
        delete from t_project where id = #{id}
    </delete>

    <delete id="deleteTProjectByIds" parameterType="String">
        delete from t_project where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="selectStaSlaByProjectId" parameterType="Long" resultType="com.dregs.project.system.project.domain.StaCarProject">

        SELECT
        p.name as projectName,
        s.title as slaName,
        t.project_id as projectId,
        s.title as carNum,
        SUM( t.transport_num ) AS transportNum,
        ps.push_slagyard_maoney as pushCarMoney,
        s.id as slagyardId,
        ps.push_slagyard_maoney * SUM( t.transport_num ) as totalMoney
        FROM
        t_car_transport AS t,
        t_project_slagyard AS ps,
        t_project as p,
        t_slagyard as s
        WHERE
        t.project_slagyard_id = ps.id
        and p.id = t.project_id
        and s.id = t.slagyard_id
        AND t.transport_type = 2
        <if test="projectId != null and projectId != ''">
            and t.project_id = #{projectId}
        </if>
        <if test="slagyardId != null and slagyardId != ''">
            and t.slagyard_id = #{slagyardId}
        </if>
        GROUP BY
        t.slagyard_id,t.project_slagyard_id

    </select>

    <select id="selectPaySlaListByProjectId" parameterType="Long" resultType="com.dregs.project.system.project.domain.StaCarProject">

        SELECT
        pp.pay_obj_id, pp.relation_id as slagyardId,c.title as carNum, SUM(pp.money) as payMoney
        FROM
        t_project_pay as pp,t_slagyard as c
        WHERE pp.type = 2 AND pp.pay_type = 2 and c.id = pp.relation_id
        <if test="projectId != null and projectId != ''">
            and pp.pay_obj_id = #{projectId}
        </if>
        <if test="slagyardId != null and slagyardId != ''">
            and pp.relation_id = #{slagyardId}
        </if>
        GROUP BY pp.pay_obj_id, pp.relation_id

    </select>

    <select id="getAllCarLogMoney" parameterType="Long" resultType="com.dregs.project.system.sta.controller.domain.CarLogMoney">

        SELECT sta.car_id as carId,sta.car_num as carNum,sum(sta.transportNum) as totalNum , sum(sta.totalMoney) as totalMoney
            FROM (
                 SELECT
                     t.car_id,
                     c.car_num,
                     SUM( t.transport_num ) AS transportNum,
                     ps.push_car_maoney,
                     ps.push_car_maoney * SUM( t.transport_num ) as totalMoney
                 FROM
                     t_car_transport AS t,
                     t_project_slagyard AS ps,
                     t_car AS c
                 WHERE
                     t.project_slagyard_id = ps.id
                   AND t.transport_type = 1
                   AND t.car_id = c.id
                    <if test="carId != null and carId != ''">
                        and t.car_id = #{carId}
                    </if>
                    <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                        and date_format(t.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
                    </if>
                    <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                        and date_format(t.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
                    </if>
                 GROUP BY t.car_id,t.project_slagyard_id
             ) as sta GROUP BY sta.car_id

    </select>

    <select id="getAllCarPayMoney" parameterType="Long" resultType="com.dregs.project.system.sta.controller.domain.CarLogMoney">
        SELECT
            pp.relation_id as carId,c.car_num as carNum, SUM(pp.money) as payMoney,0 as totalNum,0 as totalMonet
        FROM
            t_project_pay as pp,t_car as c
        WHERE pp.type = 2 AND pp.pay_type = 1 and c.id = pp.relation_id
            <if test="carId != null and carId != ''">
                and pp.relation_id = #{carId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(pp.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(pp.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        GROUP BY  pp.relation_id
    </select>


    <select id="getCarDetailList" resultType="com.dregs.project.system.sta.controller.domain.StaCarDetailMoney">
        SELECT
        t.car_id as carId,
        c.car_num AS carNum,
        t.project_id as projectId,
        t.slagyard_id as slagyardId,
        SUM( t.transport_num ) AS transportNum,
        ps.push_car_maoney as pushCarMaoney,
        ps.push_car_maoney * SUM( t.transport_num ) as totalMoney
        FROM
        t_car_transport AS t,
        t_project_slagyard AS ps,
        t_car AS c
        WHERE
        t.project_slagyard_id = ps.id
        AND t.transport_type = 1
        AND t.car_id = c.id
        <if test="carId != null and carId != ''">
            and t.car_id = #{carId}
        </if>
        <if test="projectId != null and projectId != ''">
            and t.project_id = #{projectId}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(t.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(t.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        GROUP BY t.car_id,t.project_slagyard_id
        ORDER BY t.car_id
    </select>

    <select id="getCarPayDetailList" resultType="com.dregs.project.system.sta.controller.domain.StaCarDetailMoney">
        SELECT
            pp.relation_id AS carId,
            pp.pay_obj_id	as projectId,
            c.car_num AS carNum,
            SUM( pp.money ) AS payMoney
            FROM
            t_project_pay AS pp,
            t_car AS c
        WHERE
            pp.type = 2
            AND pp.pay_type = 1
            AND c.id = pp.relation_id
        <if test="carId != null and carId != ''">
            and pp.relation_id = #{carId}
        </if>
        <if test="projectId != null and projectId != ''">
            and pp.pay_obj_id = #{projectId}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(pp.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(pp.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        GROUP BY pp.relation_id,pp.pay_obj_id
    </select>


</mapper>