<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dregs.project.system.project.mapper.TProjectMapper">
    
    <resultMap type="TProject" id="TProjectResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="name"    column="name"    />
        <result property="pid"    column="pid"    />
    </resultMap>

    <sql id="selectTProjectVo">
        select id, create_time, update_time, name, pid from t_project
    </sql>

    <select id="selectTProjectList" parameterType="TProject" resultType="TProject">
        select t1.id, t1.create_time, t1.update_time, t1.name,IFNULL(t2.name,'无') as paName  from t_project as t1
        LEFT JOIN t_project as t2 on t1.pid = t2.id
        <where>
            <if test="name != null  and name != ''"> and t1.name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectTProjectById" parameterType="Long" resultMap="TProjectResult">
        <include refid="selectTProjectVo"/>
        where id = #{id}
    </select>

    <select id="selectStaCarByProjectId" parameterType="Long" resultType="com.dregs.project.system.project.domain.StaCarProject">
        SELECT
            t.* ,c.car_num
        FROM
            t_car_transport AS t,
            t_project_slagyard AS ps ,t_car as c
        WHERE
            t.project_slagyard_id = ps.id AND t.transport_type = 1 AND t.car_id = c.id
            <if test="projectId != null and projectId != ''">
                and t.projectId = #{projectId}
            </if>
    </select>


    <select id="selectStaProjectList" parameterType="StaProject" resultType="com.dregs.project.system.project.domain.StaProject">
        SELECT p.name ,sum(money) as pullMoney,sum(pushNum) as pushTotal ,sum(carNum) as carTotal ,sum(slaNum) as slaTotal
                , sum(money1) as pullTotalMoney,sum(money2) as pushCarTotalMoney,sum(money3) as pushSlaTotalMoney
        FROM (SELECT
                  t.project_slagyard_id,
                  t.transport_num,
                  t.car_id,
                  t.project_id,
                  t.slagyard_id,
                  t.transport_type,
                  ps.pull_money,
                  ps.push_car_maoney,
                  ps.push_slagyard_maoney,
                  CASE t.transport_type
                      WHEN 0 THEN (ps.pull_money * t.transport_num)
                      WHEN 1 THEN -(ps.push_car_maoney * t.transport_num)
                      WHEN 2 THEN -(ps.push_slagyard_maoney * t.transport_num)
                      END 'money',
                  CASE t.transport_type
                      WHEN 0 THEN (ps.pull_money * t.transport_num)
                      ELSE 0
                      END 'money1',

                  CASE t.transport_type
                      WHEN 1 THEN (ps.push_car_maoney * t.transport_num)
                      ELSE 0
                      END 'money2',

                  CASE t.transport_type
                      WHEN 2 THEN (ps.push_slagyard_maoney * t.transport_num)
                      ELSE 0
                      END 'money3',
                  CASE t.transport_type
                      WHEN 0 THEN t.transport_num
                      ELSE 0
                      END 'pushNum',

                  CASE t.transport_type
                      WHEN 1 THEN t.transport_num
                      ELSE 0
                      END 'carNum',

                  CASE t.transport_type
                      WHEN 2 THEN t.transport_num
                      ELSE 0
                      END 'slaNum'
              FROM
                  t_car_transport as t,t_project_slagyard as ps WHERE t.project_slagyard_id = ps.id
                    <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                        and date_format(t.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
                    </if>
                    <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                        and date_format(t.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
                    </if>
             ) as result
                 LEFT JOIN t_project as p ON p.id = result.project_id
        GROUP BY result.project_id
    </select>
    <insert id="insertTProject" parameterType="TProject" useGeneratedKeys="true" keyProperty="id">
        insert into t_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="name != null">name,</if>
            <if test="pid != null">pid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="name != null">#{name},</if>
            <if test="pid != null">#{pid},</if>
         </trim>
    </insert>

    <update id="updateTProject" parameterType="TProject">
        update t_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="name != null">name = #{name},</if>
            <if test="pid != null">pid = #{pid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTProjectById" parameterType="Long">
        delete from t_project where id = #{id}
    </delete>

    <delete id="deleteTProjectByIds" parameterType="String">
        delete from t_project where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>