<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('项目管理列表')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: select2-css" />

</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>项目名称：</label>
                                <select name="projectId" class="form-control" width="50">
                                    <option value="">选择渣场</option>
                                    <option th:each="s : ${projects}" th:sid="${s.id}"  th:name="${s.name}" th:text="${s.name}" th:value="${s.id}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <input type="hidden" name="slagyardId" th:value="${slagyardId}">
                                <label>日期： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:project:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
     <th:block th:include="include :: footer" />
     <th:block th:include="include :: datetimepicker-js" />
     <th:block th:include="include :: select2-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:project:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:project:remove')}]];
        var prefix = ctx + "system/slagyard";

        $(function() {
            var options = {
                url: prefix + "/slagYardProjectStatisticsList",
                exportUrl: prefix + "/slagYardProjectStatisticsListexport",
                modalName: "渣场项目统计明细",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'name',
                    title: '渣场名称'
                },
                {
                    field: 'pname',
                    title: '项目名称'
                },
                {
                    field: 'slaTotal',
                    title: '票（数）'
                },
                {
                    field: 'pushSlaTotalMoney',
                    title: '应收'
                },
                {
                    field: 'pullEndMoney',
                    title: '已付'
                }]
            };
            $.table.init(options);
        });
        function allExport() {
            window.location = prefix + "/allExport";
        }
    </script>
</body>
</html>