<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('项目管理列表')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>项目名称：</label>
                                <select name="projectId" class="form-control" width="50">
                                    <option value="">选择项目</option>
                                    <option th:each="s : ${projects}" th:sid="${s.id}"  th:name="${s.name}" th:text="${s.name}" th:value="${s.id}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>日期： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:project:export">
                    <i class="fa fa-download"></i> 导出
                </a>
                <a class="btn btn-warning" onclick="allExport()" shiro:hasPermission="system:project:allExport">
                    <i class="fa fa-download"></i>  全部导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
     <th:block th:include="include :: footer" />
     <th:block th:include="include :: datetimepicker-js" />
     <th:block th:include="include :: select2-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:project:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:project:remove')}]];
        var prefix = ctx + "system/project";

        $(function() {
            var options = {
                url: prefix + "/stalist",
                exportUrl: prefix + "/staexport",
                modalName: "项目管理",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'name',
                    title: '项目名称'
                },
                {
                    field: 'pullTotalMoney',
                    title: '收入'
                },
                {
                    field: 'pushCarTotalMoney',
                    title: '车运应付'
                },
                {
                    field: 'pushSlaTotalMoney',
                    title: '渣土应付'
                },
                {
                    field: 'pullMoney',
                    title: '利润'
                },
                {
                    field: 'pushTotal',
                    title: '发票数量'
                },
                {
                    field: 'carTotal',
                    title: '车运数量'
                },
                {
                    field: 'slaTotal',
                    title: '渣场数量'
                },
                {
                    title: '详情',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="open1(\'' + row.projectId +'\',\''+row.name+ '\')"><i class="fa fa-edit"></i>车运</a> ');
                        actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="open2(\'' + row.projectId +'\',\''+row.name+ '\')"><i class="fa fa-edit"></i>渣场</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function open1(projectId,title){
            $.modal.openTab(title, prefix + "/staCarProject?projectId="+projectId);
        }


        function open2(projectId,title){
            $.modal.openTab(title, prefix + "/staSlaProject?projectId="+projectId);
        }
        function allExport() {
            window.location = prefix + "/allExport";
        }
    </script>
</body>
</html>